.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #0f0c29cc, #302b63cc, #24243ecc);
  backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  height : 100px
}

body {
  padding-top: 100px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff69b4;
}

.contact-btn {
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(to top right, #7e22ce, #ec4899, #6366f1);
  box-shadow: 0 0 10px #ec4899;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #5c6ac4;
}

.navbar-name {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(to bottom, #0f0c29cc, #302b63cc, #24243ecc);
    padding: 10px 20px;
    height: 300px;

   
  }

  body {
    height: auto;
    padding-top: 500px; 
  }
  

  .nav-links {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links a {
    padding: 10px 0;
    width: 100%;
    display: block;
  } 
  
  
  .navbar-left {
    width: 100%;
    justify-content: space-between;
  }
}

